<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="securityInterview">
      <h2 data-cy="securityInterviewDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationBisApp.securityInterview.detail.title">Security Interview</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ securityInterview.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.securityInterview.applicationName">Application Name</span></dt>
        <dd>
          <span>{{ securityInterview.applicationName }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.securityInterview.so">So</span></dt>
        <dd>
          <span>{{ securityInterview.so }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.securityInterview.process">Process</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterSampleApplicationBisApp.Process.' + securityInterview.process }}">{{
            securityInterview.process
          }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.securityInterview.psat">Psat</span></dt>
        <dd>
          <div *ngIf="securityInterview.psat">
            <a [routerLink]="['/psat', securityInterview.psat?.id, 'view']">{{ securityInterview.psat?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.securityInterview.availability">Availability</span></dt>
        <dd>
          <div *ngIf="securityInterview.availability">
            <a [routerLink]="['/availability', securityInterview.availability?.id, 'view']">{{ securityInterview.availability?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.securityInterview.applicationType">Application Type</span></dt>
        <dd>
          <div *ngIf="securityInterview.applicationType">
            <a [routerLink]="['/application-type', securityInterview.applicationType?.id, 'view']">{{
              securityInterview.applicationType?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/security-interview', securityInterview.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
