<div>
  <h2 id="page-heading" data-cy="ApplicationTypeHeading">
    <span jhiTranslate="jhipsterSampleApplicationBisApp.applicationType.home.title">Application Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationBisApp.applicationType.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-application-type"
        [routerLink]="['/application-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationBisApp.applicationType.home.createLabel"> Create a new Application Type </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="applicationTypes?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationBisApp.applicationType.home.notFound">No applicationTypes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="applicationTypes && applicationTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationBisApp.applicationType.name">Name</span></th>
          <th scope="col">
            <span jhiTranslate="jhipsterSampleApplicationBisApp.applicationType.securityInterview">Security Interview</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicationType of applicationTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/application-type', applicationType.id, 'view']">{{ applicationType.id }}</a>
          </td>
          <td>{{ applicationType.name }}</td>
          <td>
            <div *ngIf="applicationType.securityInterview">
              <a [routerLink]="['/security-interview', applicationType.securityInterview?.id, 'view']">{{
                applicationType.securityInterview?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/application-type', applicationType.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/application-type', applicationType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(applicationType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
