<div>
  <h2 id="page-heading" data-cy="PersonalDataHeading">
    <span jhiTranslate="jhipsterSampleApplicationBisApp.personalData.home.title">Personal Data</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationBisApp.personalData.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-personal-data"
        [routerLink]="['/personal-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationBisApp.personalData.home.createLabel"> Create a new Personal Data </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="personalData?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationBisApp.personalData.home.notFound">No personalData found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="personalData && personalData.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationBisApp.personalData.date">Date</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationBisApp.personalData.personalDataType">Personal Data Type</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationBisApp.personalData.identity">Identity</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personalData of personalData; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/personal-data', personalData.id, 'view']">{{ personalData.id }}</a>
          </td>
          <td>{{ personalData.date | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="personalData.personalDataType">
              <a [routerLink]="['/personal-data-type', personalData.personalDataType?.id, 'view']">{{
                personalData.personalDataType?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="personalData.identity">
              <a [routerLink]="['/identity', personalData.identity?.id, 'view']">{{ personalData.identity?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/personal-data', personalData.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/personal-data', personalData.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(personalData)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
