<div>
  <h2 id="page-heading" data-cy="SensitiveDataHeading">
    <span jhiTranslate="jhipsterSampleApplicationBisApp.sensitiveData.home.title">Sensitive Data</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationBisApp.sensitiveData.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sensitive-data"
        [routerLink]="['/sensitive-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationBisApp.sensitiveData.home.createLabel"> Create a new Sensitive Data </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sensitiveData?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationBisApp.sensitiveData.home.notFound">No sensitiveData found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sensitiveData && sensitiveData.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationBisApp.sensitiveData.date">Date</span></th>
          <th scope="col">
            <span jhiTranslate="jhipsterSampleApplicationBisApp.sensitiveData.sensitiveDataType">Sensitive Data Type</span>
          </th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationBisApp.sensitiveData.identity">Identity</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sensitiveData of sensitiveData; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sensitive-data', sensitiveData.id, 'view']">{{ sensitiveData.id }}</a>
          </td>
          <td>{{ sensitiveData.date | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="sensitiveData.sensitiveDataType">
              <a [routerLink]="['/sensitive-data-type', sensitiveData.sensitiveDataType?.id, 'view']">{{
                sensitiveData.sensitiveDataType?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sensitiveData.identity">
              <a [routerLink]="['/identity', sensitiveData.identity?.id, 'view']">{{ sensitiveData.identity?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sensitive-data', sensitiveData.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sensitive-data', sensitiveData.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sensitiveData)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
