<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="psat">
      <h2 data-cy="psatDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationBisApp.psat.detail.title">Psat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ psat.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.psat.amlId">Aml Id</span></dt>
        <dd>
          <span>{{ psat.amlId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.psat.owner">Owner</span></dt>
        <dd>
          <span>{{ psat.owner }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.psat.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterSampleApplicationBisApp.Status.' + psat.status }}">{{ psat.status }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.psat.securityInterview">Security Interview</span></dt>
        <dd>
          <div *ngIf="psat.securityInterview">
            <a [routerLink]="['/security-interview', psat.securityInterview?.id, 'view']">{{ psat.securityInterview?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/psat', psat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
