<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-complementary-question-heading"
        data-cy="ComplementaryQuestionCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationBisApp.complementaryQuestion.home.createOrEditLabel"
      >
        Create or edit a Complementary Question
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationBisApp.complementaryQuestion.internet" for="field_internet"
            >Internet</label
          >
          <input type="checkbox" class="form-check" name="internet" id="field_internet" data-cy="internet" formControlName="internet" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationBisApp.complementaryQuestion.development" for="field_development"
            >Development</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="development"
            id="field_development"
            data-cy="development"
            formControlName="development"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationBisApp.complementaryQuestion.configuration"
            for="field_configuration"
            >Configuration</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="configuration"
            id="field_configuration"
            data-cy="configuration"
            formControlName="configuration"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationBisApp.complementaryQuestion.cloud" for="field_cloud"
            >Cloud</label
          >
          <input type="checkbox" class="form-check" name="cloud" id="field_cloud" data-cy="cloud" formControlName="cloud" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationBisApp.complementaryQuestion.internal" for="field_internal"
            >Internal</label
          >
          <input type="checkbox" class="form-check" name="internal" id="field_internal" data-cy="internal" formControlName="internal" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationBisApp.complementaryQuestion.partner" for="field_partner"
            >Partner</label
          >
          <input type="checkbox" class="form-check" name="partner" id="field_partner" data-cy="partner" formControlName="partner" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationBisApp.complementaryQuestion.users" for="field_users"
            >Users</label
          >
          <input type="number" class="form-control" name="users" id="field_users" data-cy="users" formControlName="users" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationBisApp.complementaryQuestion.securityInterview"
            for="field_securityInterview"
            >Security Interview</label
          >
          <select
            class="form-control"
            id="field_securityInterview"
            data-cy="securityInterview"
            name="securityInterview"
            formControlName="securityInterview"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                securityInterviewOption.id === editForm.get('securityInterview')!.value?.id
                  ? editForm.get('securityInterview')!.value
                  : securityInterviewOption
              "
              *ngFor="let securityInterviewOption of securityInterviewsSharedCollection; trackBy: trackSecurityInterviewById"
            >
              {{ securityInterviewOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
