<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="icrfAssessment">
      <h2 data-cy="icrfAssessmentDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationBisApp.icrfAssessment.detail.title">Icrf Assessment</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ icrfAssessment.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.icrfAssessment.code">Code</span></dt>
        <dd>
          <span>{{ icrfAssessment.code }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.icrfAssessment.description">Description</span></dt>
        <dd>
          <span>{{ icrfAssessment.description }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationBisApp.icrfAssessment.status">Status</span></dt>
        <dd>
          <span>{{ icrfAssessment.status }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/icrf-assessment', icrfAssessment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
