<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-psat-heading"
        data-cy="PsatCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationBisApp.psat.home.createOrEditLabel"
      >
        Create or edit a Psat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationBisApp.psat.amlId" for="field_amlId">Aml Id</label>
          <input type="text" class="form-control" name="amlId" id="field_amlId" data-cy="amlId" formControlName="amlId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationBisApp.psat.owner" for="field_owner">Owner</label>
          <input type="text" class="form-control" name="owner" id="field_owner" data-cy="owner" formControlName="owner" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationBisApp.psat.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationBisApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">
              {{ 'jhipsterSampleApplicationBisApp.Status.' + status | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationBisApp.psat.securityInterview" for="field_securityInterview"
            >Security Interview</label
          >
          <select
            class="form-control"
            id="field_securityInterview"
            data-cy="securityInterview"
            name="securityInterview"
            formControlName="securityInterview"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                securityInterviewOption.id === editForm.get('securityInterview')!.value?.id
                  ? editForm.get('securityInterview')!.value
                  : securityInterviewOption
              "
              *ngFor="let securityInterviewOption of securityInterviewsCollection; trackBy: trackSecurityInterviewById"
            >
              {{ securityInterviewOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
